services:
  server:
    build:
      context: .
    environment:
      NODE_ENV: production

      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: example
      DB_NAME: User_entity_API
    ports:
      - "3000:3000"
    depends_on:
      - db

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: User_entity_API
    # ports:
    #   - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql

volumes:
  db-data:
